<div class="row">
  <div class="col-md-12">
    <h1>(ΠΎΒ΄β€`ΠΎ)π’–γ€γƒ–γƒ­γ‚°θ¨δΊ‹η·¨ι›†γ€‘(ΠΎΒ΄β€`ΠΎ)π’–</h1>
    <%= form_with model: @post, local: true do |form| %>
      <div class="form-group">
        <%= form.label "π¶γ€γ‚Ώγ‚¤γƒγƒ«γ€‘π¶" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label "π»γ€γ‚«γƒ†γ‚΄γƒγ€‘π»" %>
        <%= form.text_field :category, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label "π¥γ€ζ¬ζ–‡γ€‘π¥" %>
        <%= form.text_area :body, class: "form-control" %>
      </div>
      <%= form.submit 'η·¨ι›†γ™γ‚‹(ΠΎΒ΄β€`ΠΎ)', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>