<div class="row">
  <div class="col-md-12">
    <h1 class = "post_title"><%= @post.title %></h1>
    <p>ã‚«ãƒ†ã‚´ãƒªãƒ»Ï‰ãƒ»: <%= @post.category %></p>
    <p>æŠ•ç¨¿æ—¥ãƒ»Ï‰ãƒ»:<%= @post.created_at %></p>
    <hr>
    <%= simple_format(@post.body) %>
    <hr>
    <%= link_to "ç·¨é›†ðŸ¶", edit_post_path(@post), class: "btn btn-secondary" %>
    <%= link_to "å‰Šé™¤ðŸ¦", post_path(@post), class: "btn btn-danger", method: :delete %>
  </div>
</div>